.team-member {
    text-align: center;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--platinum);
    color: #0f0c0c;
}


.member-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease-in-out, filter 0.3s ease-in-out;
    filter: grayscale(100%)
    
}



.member-photo:hover {
    transform: scale(1.2);/*Hover Durumunda Fotoğrafı Büyüt*/
    filter: grayscale(0%);

}

/* .team-member:hover {
    

} */

.team-member h2 {
    margin: 10px 0;
}

.team-member p {
    color: #42403e;

}





