@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

:root {
  --linkedin: #007bb5;
  --darkred: #911914;
  --grey:#666465;
  --platinum: #e5e5e5;
  --dark-green: #172A3A;
  --white: #F5F5F7;
  --bej: #FCF5EC;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  background-color: var(--bej) !important;
  font: 16px / 24px "Rubik", sans-serif;
  color: var(--dark-green);
  margin: 50px 0;
}
/* Navbar */
.glass {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  box-shadow: 0px 20px 18px rgba(0, 0, 0, 0.30) ;
  max-height: 6rem;
}
.brand{
 height: 6rem;
}

.dropdown-menu{
  background-color: rgba(255, 255, 255, 0.3) !important;
  -webkit-backdrop-filter: blur(18px) !important;
  backdrop-filter: blur(18px) !important;
  box-shadow: 0px 20px 18px rgba(0, 0, 0, 0.30) !important ;
}


/* Navbar */
footer{
  background-color: #000;
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i{
  font-size: 2em;
  color:black;
  opacity: 0.9;
}

/* Hover Effect on Social Media Icons */
.socialIcons a:hover{
  background-color:#111;
  transition: 0.5s;

}

.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}



.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type:none;
}
.footerNav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background: color #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
  cursor: pointer;
}

@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  }
  .footerNav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
  }
}
.logo{
  display:flex;
  justify-content:center;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.logo:hover{
  transform: scale(0.9);
}
