body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.team-member {
    text-align: center;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--platin);
    color: #0f0c0c;
    transition: background-color 0.3s ease-in-out;/*Renk Geçişi Ekleniyor*/
}


.member-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    
}



.member-photo:hover {
    transform: scale(1.2);/*Hover Durumunda Fotoğrafı Büyüt*/
    filter: grayscale(100%);

}

.team-member:hover {
    background: linear-gradient(to right,#3498db,#2ecc71);/*Hover Durumunda Renk Geçişi*/

}



.team-member h2 {
    margin: 10px 0;
}

.team-member p {
    color: #42403e;

}


.linkedin-btn {
    display: inline-block;
    padding: 10px 100px;
    background-color: #0077B5; /* LinkedIn mavisi */
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

.linkedin-button:hover {
    background-color: #005f91; /* Hover rengi */
}


.linkedin-btn:hover {
    background-color: #005983; /* Hover rengi */
}



